html,
body {
    padding: 0;
    margin: 0;
}

.panel-section-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel-list-item {
    padding: 3px 12px;
    margin: 0;
    list-style: none;
    white-space: nowrap;
}

.panel-list-item div {
    display: inline-block;
}

label {
    margin: 0 0 0 6px;
    padding: 6px 0;
    display: inline-block;
}

.panel-list-item:hover {
    background: #eee;
}
