/* Blur */
.achromajs-filter-blur1 {
    backdrop-filter: blur(1px);
    filter: blur(1px);
    min-height: 100vh;
}

.achromajs-filter-blur2 {
    backdrop-filter: blur(2px);
    filter: blur(2px);
    min-height: 100vh;
}

.achromajs-filter-blur3 {
    backdrop-filter: blur(3px);
    filter: blur(3px);
    min-height: 100vh;
}

/* Contrast */
.achromajs-filter-invert {
    backdrop-filter: invert(100%);
    filter: invert(100%);
    min-height: 100vh;
}

.achromajs-filter-lowcontrast {
    backdrop-filter: contrast(0.4);
    filter: contrast(0.4);
    min-height: 100vh;
}

.achromajs-filter-highcontrast {
    backdrop-filter: url(highcontrast.svg#Filter);
    filter: url(highcontrast.svg#Filter);
    min-height: 100vh;
}

/* Colour vision */

.achromajs-filter-achromatomaly {
    backdrop-filter: url(achromatomaly.svg#Filter);
    filter: url(achromatomaly.svg#Filter);
    min-height: 100vh;
}

.achromajs-filter-achromatopsia {
    backdrop-filter: url(achromatopsia.svg#Filter);
    filter: url(achromatopsia.svg#Filter);
    min-height: 100vh;
}

.achromajs-filter-deuteranopia {
    backdrop-filter: url(deuteranopia.svg#Filter);
    filter: url(deuteranopia.svg#Filter);
    min-height: 100vh;
    
}

.achromajs-filter-deuteranomaly {
    backdrop-filter: url(deuteranomaly.svg#Filter);
    filter: url(deuteranomaly.svg#Filter);
    min-height: 100vh;
}


.achromajs-filter-protanomaly {
    backdrop-filter: url(protanomaly.svg#Filter);
    filter: url(protanomaly.svg#Filter);
    min-height: 100vh;
}

.achromajs-filter-protanopia {
    backdrop-filter: url(protanopia.svg#Filter);
    filter: url(protanopia.svg#Filter);
    min-height: 100vh;
}

.achromajs-filter-tritanopia {
    backdrop-filter: url(tritanopia.svg#Filter);
    filter: url(tritanopia.svg#Filter);
    min-height: 100vh;
}

.achromajs-filter-tritanomaly {
    backdrop-filter: url(tritanomaly.svg#Filter);
    filter: url(tritanomaly.svg#Filter);
    min-height: 100vh;
}