.achromajs-filter-none {
    filter: none;
}

.achromajs-filter-blur1 {
    filter: blur(1px);
}

.achromajs-filter-blur2 {
    filter: blur(2px);
}

.achromajs-filter-blur3 {
    filter: blur(3px);
}

.achromajs-filter-achromatomaly {
    filter: url(achromatomaly.svg#Filter);
}

.achromajs-filter-achromatopsia {
    filter: url(achromatopsia.svg#Filter);
}

.achromajs-filter-deuteranopia {
    filter: url(deuteranopia.svg#Filter);
}

.achromajs-filter-deuteranomaly {
    filter: url(deuteranomaly.svg#Filter);
}

.achromajs-filter-invert {
    filter: invert(100%);
}

.achromajs-filter-lowcontrast {
    filter: contrast(0.2);
}

.achromajs-filter-highcontrast {
    filter: url(highcontrast.svg#Filter);
}

.achromajs-filter-protanomaly {
    filter: url(protanomaly.svg#Filter);
}

.achromajs-filter-protanopia {
    filter: url(protanopia.svg#Filter);
}

.achromajs-filter-tritanopia {
    filter: url(tritanopia.svg#Filter);
}

.achromajs-filter-tritanomaly {
    filter: url(tritanomaly.svg#Filter);
}