name: merge-to-master

on:
  push:
    branches:
      - master

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.3.0
    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: v2.x

    - name: Retrieve version
      run: |
        echo "TAG_NAME=$(jq -r ".version" deno.json)" >> $GITHUB_OUTPUT
      id: version

    - name: Build release
      run: make build-release

    - name: Create release tag
      uses: rickstaa/action-create-tag@v1
      with:
        tag: ${{ steps.version.outputs.TAG_NAME }}
        tag_exists_error: false
        message: "Release tag ${{ steps.version.outputs.TAG_NAME }}"

    - name: Release
      uses: ncipollo/release-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        allowUpdates: true
        artifactErrorsFailBuild: true
        artifacts: "release/*"
        generateReleaseNotes: true
        makeLatest: true
        tag: ${{ steps.version.outputs.TAG_NAME }}
